@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #E1DCC9;
}

@theme {
  --color-brand-black: #000000;
  --color-brand-dark: #1F150C;
  --color-brand-brown: #412D15;
  --color-brand-cream: #E1DCC9;
}

body {
  background-color: #000000;
  color: #E1DCC9;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
